Repository radon-project/radon, pull requests merged in 2024-04, with the labels that each got.

#25 Close #24
  core/lexer.py
Labels: syntax, core, string

#29 Issue arr find method #28
  core/builtin_funcs.py
  core/datatypes.py
Labels: bug, built-in methods

#31 Issue Number multiply by Number in datatypes #30
  core/datatypes.py
  examples/arrays.rn
Labels: bug, Data Type

#36 Added new for...in loop syntax.
  core/datatypes.py
  core/interpreter.py
  core/nodes.py
  core/parser.py
  core/tokens.py
  examples/loops.rn
Labels: enhancement, syntax, core

#37 Fix trailing exit code bug (#12)
  radon.py
Labels: invalid, REPL

#41 Added slicing operator support.
  core/datatypes.py
  core/interpreter.py
  core/nodes.py
  core/parser.py
  examples/slicing.rn
Labels: enhancement, core

#43 Var keyword removed (#38).
  core/interpreter.py
  core/parser.py
  core/tokens.py
  examples/args_test.rn
  examples/arrays.rn
  examples/classes.rn
  examples/colors_test.rn
  examples/functions.rn
  examples/import_test.rn
  examples/loops.rn
  examples/new_syntax.rn
  examples/python_api.rn
  examples/scoping.rn
  examples/simple.rn
  examples/syntax.rn
  examples/try_catch.rn
  stdlib/Argparser.rn
  stdlib/Array.rn
  stdlib/Colorlib.rn
  stdlib/Math.rn
  stdlib/String.rn
  stdlib/System.rn
  stdlib/Universe.rn
Labels: enhancement, syntax, proposal

#45 Throw a syntax error if a `return` statement is...
  core/parser.py
  examples/loops.rn
Labels: bug, invalid, core

#46 Added index setter syntax.
  core/datatypes.py
  core/interpreter.py
  core/nodes.py
  core/parser.py
  examples/slicing.rn
Labels: enhancement, syntax, Data Type

#50 add: operator overloading
  core/datatypes.py
  core/parser.py
  examples/classes.rn
  examples/operator_overloading.rn
  radon.py
  stdlib/Argparser.rn
  stdlib/Array.rn
  stdlib/Colorlib.rn
  stdlib/Math.rn
  stdlib/String.rn
  stdlib/System.rn
  stdlib/Winlib.rn
Labels: enhancement, OOP, proposal

#51 feat: added HashMap syntax.
  core/datatypes.py
  core/interpreter.py
  core/lexer.py
  core/nodes.py
  core/parser.py
Labels: enhancement, Data Type

#57 [REP-1] Add `nonlocal` and `global` keywords
  core/interpreter.py
  core/nodes.py
  core/parser.py
  core/tokens.py
  tests/loops.rn
  tests/loops.rn.json
Labels: enhancement, core, proposal

#60 Add `const` keyword
  core/builtin_funcs.py
  core/interpreter.py
  core/parser.py
  core/tokens.py
  radon.py
  test.py
  tests/const.rn
  tests/const.rn.json
Labels: enhancement, core, proposal

#62 improve: `File` class
  .gitignore
  core/builtin_classes.py
  hello.txt
  tests/files.rn
  tests/files.rn.json
Labels: enhancement, built-in classes

#71 [internal] add: `@check` decorator
  core/builtin_classes.py
  tests/files.rn.json
Labels: enhancement, OOP, built-in classes

#76 add: `assert` expression
  core/interpreter.py
  core/nodes.py
  core/parser.py
  core/tokens.py
  stdlib/Math.rn
  tests/assert.rn
  tests/assert.rn.json
Labels: enhancement, core

#78 fix: Boolean returns True and False instead of true and false.
  core/datatypes.py
Labels: bug, Data Type

#81 feat: String builtin class.
  core/builtin_classes.py
  core/builtin_funcs.py
  core/datatypes.py
  core/interpreter.py
  core/nodes.py
  radon.py
Labels: enhancement, built-in classes

#84 Add support for keyword arguments
  .gitignore
  core/builtin_classes.py
  core/builtin_funcs.py
  core/datatypes.py
  core/interpreter.py
  core/nodes.py
  core/parser.py
  tests/kwargs.rn
  tests/kwargs.rn.json
Labels: enhancement, syntax, core

#87 Add augmented assignment operation
  core/datatypes.py
  core/interpreter.py
  core/lexer.py
  core/nodes.py
  core/parser.py
  core/tokens.py
  tests/incdec.rn
  tests/incdec.rn.json
Labels: enhancement, proposal

#90 Add `switch` statement
  core/datatypes.py
  core/interpreter.py
  core/nodes.py
  core/parser.py
  core/tokens.py
  tests/switch-case.rn
  tests/switch-case.rn.json
Labels: enhancement, proposal

#97 refactor: moved all builtin class separately in a folder and split them into individual files.
  core/builtin_classes/__init__.py
  core/builtin_classes/base_classes.py
  core/builtin_classes/file_object.py
  core/builtin_classes/string_object.py
  test.py
  tests/string_class.rn
  tests/string_class.rn.json
Labels: built-in classes

#102 fix: empty hash map throwing Python exception
  core/lexer.py
  core/parser.py
  tests/empty-blocks.rn
  tests/lcont.rn
  tests/lcont.rn.json
  tests/thicc-hm.rn
  tests/thicc-hm.rn.json
Labels: bug, Data Type

#105 Add a Second Argument to `pyapi()`!
  core/builtin_funcs.py
  core/datatypes.py
  core/tokens.py
  examples/pyapi_advanced.rn
  examples/python_api.rn
  stdlib/Universe.rn
  tests/pyapi_advanced.rn
  tests/pyapi_advanced.rn.json
Labels: enhancement, built-in methods, core

#106 fix: slicing HashMap from Array.
  core/datatypes.py
Labels: bug, Data Type

#121 Experimental errors color support.
  core/colortools.py
  core/errors.py
  core/interpreter.py
  radon.py
Labels: enhancement, experiment

#124 Requests API support.
  core/builtin_classes/__init__.py
  core/builtin_classes/requests_object.py
  core/datatypes.py
  core/errors.py
  examples/requests_test.rn
  tests/requests-tests.rn
  tests/requests-tests.rn.json
  tests/syntax-errors.rn.json
Labels: enhancement
